<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>628864174209-qgnjf1aor2fl085bmkfjla4q18bebtv5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.628864174209-qgnjf1aor2fl085bmkfjla4q18bebtv5</string>
	<key>API_KEY</key>
	<string>AIzaSyDBJKvRmz_ZjIIqaKrcjecFabDmOTFygMw</string>
	<key>GCM_SENDER_ID</key>
	<string>628864174209</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.marcelowczarek.ownWebsite</string>
	<key>PROJECT_ID</key>
	<string>marcelowczarek</string>
	<key>STORAGE_BUCKET</key>
	<string>marcelowczarek.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:628864174209:ios:6f7b45305e25843ee3a580</string>
</dict>
</plist>